@model TWeb48.Models.UserProfileViewModel

<head>
    <title>Profile</title>
    <link rel="stylesheet" href="~/wwwroot/site.css"/>
    <link rel="stylesheet" href="~/wwwroot/newStyle.css"/>
</head>

<div class="profile-info">
    <h2>@Model.User.Name's Profile</h2>
    <p><strong>Email:</strong> @Model.User.Email</p>
    <p><strong>Phone Number:</strong> @Model.User.PhoneNumber</p>
    <p><strong>Licence Number:</strong> @Model.User.LicenceNumber</p>
    <p><strong>Roles:</strong> @string.Join(", ", Model.Roles)</p>
</div>