@model TWeb48.Helpers.IndexViewModel<TWeb48.Models.Rent>

<head>
    <title>Rents</title>
    <link rel="stylesheet" href="~/wwwroot/cars.css"/>
</head>

@{
    var userId = Guid.Parse(FormsAuthentication.Decrypt(Request.Cookies[FormsAuthentication.FormsCookieName].Value).UserData.Split(',')[0]);
}

@if (!Model.Items.Any())
{
    <div class="profile-info">
        <h2>No rents</h2>
    </div>
}
else
{
    
    <div class="car-list">
        @foreach (var rent in Model.Items)
        {
            <div class="car-info">
                <div class="car-description">
                    @if (DateTime.Now > rent.StartDate && DateTime.Now < rent.EndDate)
                    {
                        <h2 style="color: #00b10c">Active Rent</h2>
                    }
                    else if (DateTime.Now < rent.StartDate)
                    {
                        <h2 style="color: #4b00cd">Upcoming Rent</h2>
                    }
                    else
                    {
                        <h2 style="color: #a60000">Ended Rent</h2>
                    }
                    <h2>@rent.StartDate.ToShortDateString() Rent Info</h2>
                    <h2>Price: @rent.Price $</h2>
                    <a href="@Url.Action("Rent", "Account", new { id = rent.Id })" class="btn btn-primary">View Rent</a>
                </div>
                <img src="@rent.Car.PhotoPath" alt="Car Image" class="car-image">
            </div>
        }
    </div>
    

    <div class="pagination">
        @if (Model.PageInfo.PageNumber > 1)
        {
            <a href="@Url.Action("Rents", new { userId = userId, page = Model.PageInfo.PageNumber - 1 })">Previous</a>
        }

        @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
        {
            <a href="@Url.Action("Rents", new { userId = userId, page = i })" class="@(i == Model.PageInfo.PageNumber ? "active" : "")">@i</a>
        }

        @if (Model.PageInfo.PageNumber < Model.PageInfo.TotalPages)
        {
            <a href="@Url.Action("Rents", new { userId = userId, page = Model.PageInfo.PageNumber + 1 })">Next</a>
        }
    </div>
}