@using TWeb48.Models
@model TWeb48.Models.Car

<head>
    <title>CarInfo</title>
    <link rel="stylesheet" href="~/wwwroot/site.css"/>
</head>

@{
    var authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
    var authTicket = FormsAuthentication.Decrypt(authCookie.Value);
    var roles = authTicket.UserData;
}

@if (Model.IsHidden == false)
{
    <div class="profile-info">
        <h2>@Model.Name Info</h2>
        <p><strong>Description:</strong> @Model.Description</p>
        <p><strong>Price:</strong> @Model.Price</p>
        <img src="@Model.PhotoPath" alt="Car Image" width="200" height="200">
    </div>
    
    if (roles.Contains("Admin"))
    {
        <a href="@Url.Action("UploadImage", "Admin", new { Id = Model.Id })" class="btn btn-primary">Select Photo</a>
    }


    using (Html.BeginForm("RentCar", "Home", FormMethod.Post))
    {
        <input type="hidden" name="CarId" value="@Model.Id" />
        <input type="hidden" name="UserId" value="@Guid.Parse(authTicket.UserData.Split(',')[0])" />
        <label for="StartDate">Start Date:</label>
        <label for="StartDate">Start Date:</label>
        <input type="date" id="StartDate" name="StartDate" required />
        <label for="EndDate">End Date:</label>
        <input type="date" id="EndDate" name="EndDate" required />

        <button type="submit" class="btn btn-primary">Rent Car</button>
    }
    
}
else
{
    <div class="profile-info">
        <h2>Car is hidden</h2>
    </div>
}

