<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TWeb</title>
    <link rel="stylesheet" href="~/wwwroot/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/wwwroot/newStyle.css" asp-append-version="true"/>
</head>
<body>
@{
    var userName = User.Identity.Name;
    var roles = string.Empty;
    FormsAuthenticationTicket authTicket = null;
    if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
    {
        var authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
        authTicket = FormsAuthentication.Decrypt(authCookie.Value);
        roles = authTicket.UserData;
        var userId = Guid.Parse(authTicket.UserData.Split(',')[0]);

    }
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CarRental</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link text-dark" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("AllCars", "Cars", "Home", null, new { @class = "nav-link text-dark" })
                    </li>
                    
                    @if (!string.IsNullOrEmpty(userName))
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Profile", "GetProfile", "Account", null, new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("RentHistory", "Rents", "Account", new { userId = Guid.Parse(authTicket.UserData.Split(',')[0]) }, new { @class = "nav-link text-dark" })
                        </li>
                        if (roles.Contains("Admin"))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Admin Panel", "AdminPanel", "Admin", null, new { @class = "nav-link text-dark" })
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link text-dark" })
                        </li>
                    }
                    
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - TWeb - Dolghier Vladislav - Copusciu Artiom
    </div>
</footer>

@RenderSection("Scripts", required: false)
</body>
</html>