@model TWeb48.Business.Helpers.IndexViewModel<TWeb48.Data.Models.Car>

<head>
    <title>Cars</title>
    <link rel="stylesheet" href="~/wwwroot/cars.css"/>
</head>

@if (!Model.Items.Any())
{
<div class="profile-info">
    <h2>No cars available</h2>
</div>
}
else
{
<div class="car-list">
    @foreach (var car in Model.Items)
    {
    <div class="car-info">
        <div class="car-description">
            <h2>@car.Name</h2>
            <p>Explore more about @car.Name</p>
            <a href="@Url.Action("Car", "Home", new { id = car.Id })" class="btn">View Car</a>
        </div>
        <img src="@car.PhotoPath" alt="Car Image" class="car-image"/>
    </div>
    }
</div>

<div class="pagination">
    @if (Model.PageInfo.PageNumber > 1)
    {
    <a href="@Url.Action("Cars", new { page = Model.PageInfo.PageNumber - 1 })">Previous</a>
    }

    @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
    {
    <a href="@Url.Action("Cars", new { page = i })" class="@(i == Model.PageInfo.PageNumber ? "active" : "")">@i</a>
    }

    @if (Model.PageInfo.PageNumber < Model.PageInfo.TotalPages)
    {
    <a href="@Url.Action("Cars", new { page = Model.PageInfo.PageNumber + 1 })">Next</a>
    }
</div>
}
